.path-mod-webex .resourcecontent {text-align: center;}
.urlworkaround{
background: #449fe5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0OWZlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzQ0OWZlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzhmYzQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #449fe5 0%, #449fe5 51%, #8fc400 52%, #8fc400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#449fe5), color-stop(51%,#449fe5), color-stop(52%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #449fe5 0%,#449fe5 51%,#8fc400 52%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #449fe5 0%,#449fe5 51%,#8fc400 52%,#8fc400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #449fe5 0%,#449fe5 51%,#8fc400 52%,#8fc400 100%); /* IE10+ */
background: linear-gradient(left,  #449fe5 0%,#449fe5 51%,#8fc400 52%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449fe5', endColorstr='#8fc400',GradientType=1 ); /* IE6-8 */

	
	text-align: center;
	display: table;
	float: right;
	font: 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
	padding: 5px;
}